@model AuthenticationModel


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "authForm", role = "form" }))
{
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.CertificateBase64, new { id = "certificateField" })
    @Html.HiddenFor(m => m.NonceBase64, new { id = "nonceField" })
    @Html.HiddenFor(m => m.DigestAlgorithm, new { id = "digestAlgorithmField" })
    @Html.HiddenFor(m => m.SignatureBase64, new { id = "signatureField" })
    <div style="margin-top:30px">
        <div class="col-lg-4 m-1 card" style="width: 582px">
            <div class="card-body">
                <h2 class="card-title">Informações do Médico</h2>
                <p class="card-text">Informe os dados do médico que irá assinar esse documento:</p>
                <div class="form-group">
                    <label for="certificateSelect">Acesse com seu certificado digital</label>
                    <select id="certificateSelect" class="form-select"></select>
                </div>
                <div class="mt-2">
                 <button id="signInButton" type="button" class="btn btn-primary btn-clr m-lg-2">Log In</button>
                    <button id="refreshButton" type="button" class="btn btn-outline-primary">Atualizar</button>
                </div>
            </div>
        </div>
    </div>

}


@section Scripts {
    <script type="text/javascript" src="https://cdn.lacunasoftware.com/libs/web-pki/lacuna-web-pki-2.14.3.min.js"
        integrity="sha256-P92LF1ePw0qwnmbefDpDiMcr8rmwFkcxVX+utanmlek="
        crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            authenticationForm.init({
                form: $('#authForm'),                             
                certificateSelect: $('#certificateSelect'),       
                signInButton: $('#signInButton'),                
                refreshButton: $('#refreshButton'),               
                certificateField: $('#certificateField'),         
                nonceField: $('#nonceField'),                     
                digestAlgorithmField: $('#digestAlgorithmField'), 
                signatureField: $('#signatureField')              
            });
        });
    </script>
}
